html {
    background-position: top;
    position: absolute;
    background-repeat: true;
    background-image: url(./images/testbg.jpg);
}

html,
body {
    height: 1000px;
    margin: 0px;
    padding: 0px;
}


/* Header */

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    height: 65px;
    width: 100%;
    background-color: #1c1c1c;
    transition: .4s ease-in-out;
}

.reveal {
    width: 100%;
    height: 0px;
    z-index: 3;
    top: 0;
    position: fixed;
    background-color: #1c1c1c;
    transition: 0.2s
}


/* Main */

.main {
    transition: .2s;
    z-index: 0;
    color: #bababa;
    position: relative;
    padding-top: 80px;
    text-align: center;
    margin: auto;
    width: 60%;
    height: 100%;
}

.maintextunder {
    padding-bottom: 35px;
    z-index: 0;
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #1c1c1c;
    margin-left: 15%;
    opacity: .8;
}


/* Footer */

.footer {
    padding: 0;
    z-index: 2;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #1c1c1c;
    font-size: 25px;
    color: #bababa;
}