html {
    background-position: top;
    position: absolute;
    background-repeat: true;
    background-image: url(./images/testbg.jpg);
}

html,
body {
    width: 100%;
    height: 1000px;
    margin: 0px;
    padding: 0px;
}


/* Header */

.header {
    position: static;
    z-index: 2;
    top: 0;
    width: 100%;
    background-color: #1c1c1c;
}

#headermain {
    top: 0;
    background-color: #1c1c1c;
    position: static;
    width: 100%;
    height: 50px;
}

#navbar {
    height: 0px;
    width: 100%;
    background-color: #1c1c1c;
    position: relative;
    transition: .1s ease-in-out;
    align-content: center;
    text-align: center;
    overflow: hidden;
}

#navbar a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    white-space: nowrap;
    color: #818181;
    transition: .1s ease-in-out;
}

#reveal {
    background-color: #1c1c1c;
    position: relative;
    height: 20px;
    text-align: center;
    color: #818181;
    width: 100%;
}

#reveal:hover {
    cursor: pointer;
}


/* Main */

#main {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#mainh1,
#mainp1 {
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 65%;
    margin-left: 17.5%;
    color: #ffffff;
    ;
}

#maintextunder {
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #1c1c1c;
    margin-left: 15%;
    opacity: .8;
}


/* Footer */

.footer {
    padding: 0;
    z-index: 2;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #1c1c1c;
    font-size: 25px;
    color: #bababa;
}