#html,
body {
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

#body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

#landing {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#landing-logo-header {
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-size: 6vw;
    height: auto;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#mainone,
#maintwo {
    width: 100%;
    height: 100vh;
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    background-color: #ffffff;
}

#mainbody {
    position: absolute;
    display: block;
    left: 25vw;
    width: 50vw;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#mainbody span {
    display: block;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    transition-duration: .5s;
}

#main-reveal-h2 {
    margin-top: 2vh;
}

#reveal-info {
    margin-top: 2vh;
    display: inline-block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #000000;
    align-self: center;
    transition-duration: .5s;
}

#reveal-info:hover {
    cursor: pointer;
}

#main-one-info {
    margin-left: 90vw;
    height: 100%;
    width: 0;
    display: flex;
    background-color: #ffffff;
    align-self: center;
    transition-duration: 2s;
}

#info-portrait {
    display: flex;
    width: 15vw;
    height: auto;
    opacity: 0;
    transition-duration: 1.5s;
    border-radius: 50%;
    margin: 10px 10px 10px 10px;
}

#info-description {
    opacity: 0;
    font-size: 0;
    display: block;
    margin-top: 5vh;
    margin-left: 2vw;
    transition-duration: 2s;
    transition: ease-in;
}

#info-close {
    opacity: 0;
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
    top: 0px;
    right: 0px;
    transition-duration: .5s;
    color: #000000;
}

#info-close:hover {
    cursor: pointer;
    color: #ff0000;
    transition-duration: .5s;
}
#navbar {
    position: fixed;
    top: auto;
    right: 1%;
    top: 50%;
    width: 50px;
    height: auto;
    opacity: 0.2;
    transition: ease-in-out;
    transition-duration: .15s;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#navbar:hover {
    opacity: 1;
    transition-duration: .5s;
}

#navbar a {
    background-color: rgb(48, 48, 48);
    border: none;
    display: inline-block;
    padding: 25% 25% 25% 25%;
    margin-top: 25%;
    border-radius: 50%;
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
}