#html,
body {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

#body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}

#landing {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #000000;
}

#landing-logo {
    margin: 10px 10px 10px 10px;
    display: inline-flex;
    width: 250px;
    height: 150px;
}

#landing-logo-image {
    display: block;
    border: 5px;
    width: 100%;
    height: auto;
}

#landing-profile {
    border-radius: 50%;
}

#mainone,
#maintwo {
    width: 100%;
    height: 1000px;
    position: relative;
}

#mainone {
    background-color: #00ccff;
    align-items: center;
    justify-content: center;
}

#mainbody {
    position: absolute;
    display: block;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 100px;
    background-color: #000000;
}

#maintwo {
    background-color: #00ff15
}

#navbar {
    position: fixed;
    top: auto;
    right: 1%;
    top: 50%;
    width: 50px;
    height: auto;
    opacity: 0.2;
    transition: ease-in-out;
    transition-duration: .15s;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#navbar:hover {
    opacity: 1;
    transition: ease-in-out;
    transition-duration: .15s;
}

#navbar a {
    background-color: rgb(48, 48, 48);
    border: none;
    display: inline-block;
    padding: 25% 25% 25% 25%;
    margin-top: 25%;
    border-radius: 50%;
    position: relative;
    color: white;
    text-align: center;
    text-decoration: none;
}